<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<p th:text = "${user.getName()}">TEXT</p>
<p th:text = "${user.getId()}">TEXT</p>
<p th:text = "${user.getSalary()}">TEXT</p>
<p th:text = "${user.getEmail()}">TEXT</p>

<a th:href ="@{/list/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/list/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>

